.feinman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: black;
  z-index: 1;
}

.feinman__link:hover {
  opacity: 60%;
  transition: linear 0.2s;
}
